questionsWidth = 300px
transitionDelay = 200ms

#pdf-viewerContainer, .discussion-board-component
  transition-duration transitionDelay
  transition-timing-function ease

html[dir='ltr']
  .discussion-board-component
    transition-property right, visibility
    transition-duration transitionDelay, 0ms
    transition-delay 0ms, transitionDelay
    right -(questionsWidth)

  #pdf-mainContainer.discussion
    #pdf-viewerContainer
      transition-property right
      right questionsWidth
    .discussion-board-component
      visibility visible
      transition-delay 0ms
      right 0

html[dir='rtl']
  .discussion-board-component
    transition-property left, visibility
    left -(questionsWidth)

  #pdf-mainContainer.discussion
    #pdf-viewerContainer
      transition-property left
      left questionsWidth
    .discussion-board-component
      visibility visible
      left 0

.open-discussion-button::before
  display inline-block
  content url('/img/discussion-boardToggle.png')

.discussion-board-component
  position fixed
  top totalTopOffset
  bottom 0px
  visibility hidden
  width questionsWidth
