c0 = #fdd
c1 = #ddf
c2 = #dfd
// c0 = #343
// c1 = #334
// c2 = #010

.item
  margin 5px
  float left
  text-decoration none
  background-color: $dropdownBackground;
  border: 1px solid $dropdownBorder;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  border-radius(6px);
  box-shadow 0 1px 3px rgba(0,0,0,.2);

.item:hover
  text-decoration none

.item-content
  background-color $grayLighter
  padding 10px
  width 80px
  height 80px
  color $textColor

  &.color0
    background-color c0

  &.color1
    background-color c1

  &.color2
    background-color c2

