c0 = #fdd
c1 = #ddf
c2 = #dfd
c0 = #343
c1 = #334
c2 = #010

.item
  margin 5px
  // background-color bg
  // border-color border
  float left
  text-decoration none

.item:hover
  text-decoration none

.item-content
  // background-color item
  padding 10px
  width 80px
  height 80px
  // color font

  &.color0
    background-color c0

  &.color1
    background-color c1

  &.color2
    background-color c2