.login-form-container
  width 600px
  padding 50px 0

.login-inputs
  margin-left 40px

.widget-main
  background-color #F5F5F5
  padding 80px 60px 80px 60px
  border 1px solid #E5E5E5
  margin-bottom 50px

.blue
  color #438EB9
  border-bottom-color #C0D7EA

.login-margin
  padding 10px

.login-form-container
  padding 10px

.container-trim
  padding 0px 0px 0px 0px


.field-margin
  padding 0px 0px 0px 30px

.signin-toolbar
  background-color #438EB9

.green
  color  #69AA46

.logo
  color #438EB9
  padding 130px 0

.username
  margin-top 40px

.padding-left
  padding-left 30px

.bottom-padding
  padding-bottom 20px
