$newsTagWidth = 100px

.news-component
  padding 0 (2 * $paddingHorSmall)

  .event
    padding $paddingHorSmall
    border-top 1px solid $tableBorder

  .event > a
    color inherit

    &:hover

      text-decoration none

  .event-tag
    display inline-block
    min-width $newsTagWidth
    padding $paddingSmall

  .event-label
    display inline-block
    margin-left 4px

  .timestamp
    padding $paddingSmall

  .text-preview
    display block
    color $grayLight
    padding-left $paddingHorSmall
    padding-top 4px

  .red-background
    color white
    background-color #D15B47

  .green-background
    color white
    background-color #87B87F

  .orange-background
    color white
    background-color #F89406

  .blue-background
    color white
    background-color #6FB3E0

  .purple-background
    color white
    background-color #892E65

  .dark-grey
    color #808080

  .well
    background-color white
    border 1px solid #E3E3E3
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.05) inset
    margin-bottom 20px
    padding 19px

  .box-margin
    margin 20px

  .news-margin
    margin 10px 25px 10px 25px