.red-background
  color white
  background-color #D15B47 
  padding 2px 5px 2px 5px
  margin 2px 5px 2px 2px

.green-background
  color white
  background-color #87B87F  
  padding 2px 8px 2px 8px
  margin 2px 5px 2px 2px

.orange-background
  color white
  background-color #F89406   
  padding 2px 2px 2px 4px
  margin 2px 5px 2px 2px

.blue-background
  color white
  background-color #6FB3E0   
  padding 2px 6px 2px 6px
  margin 2px 5px 2px 2px

.purple-background
  color white
  background-color #892E65   
  padding 2px 6px 2px 6px
  margin 2px 5px 2px 2px

.grey
  color grey

.dark-grey
  color #808080

.well
  background-color white
  border 1px solid #E3E3E3
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05) inset
  margin-bottom 20px
  padding 19px

.box-margin
  margin 20px

.news-margin
  margin 10px 25px 10px 25px