.question-input
  position absolute
  display block
  padding 10px 0px

.question-input-wrapper
  background rgba(255, 255, 255, 0.9)
  padding 5px 10px
  $border-radius($baseBorderRadius)

  textarea
    width 400px