.question-input
  position relative
  margin 0 auto
  display block
  font-family $baseFontFamily

.question-input-wrapper
  background rgba(255, 255, 255, 0.9)
  padding 5px 10px
  $border-radius($baseBorderRadius)

  textarea
    width 460px
    margin-right 10px

  .btn
    padding 4px 12px

.dot
  display block
  $border-radius(15px)
  width 30px
  height 30px
  background rgba(0, 0, 0, 0.2)
  cursor pointer

.blue
  color #0088CC  

.green
  color #69AA46

.discussion input.btn
  font-family 'Open Sans'
  padding: 4px 12px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight;



.sub-navbar-view
  padding 20px 0px
  background-colour #393939

.fixed
  position: fixed;  

.discussion-board-margin
  margin-right 10px

.question-box
  background-color white
  border 1px solid #E3E3E3
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05) inset
  padding 10px

.question-btn
  width 95%

.comment-btn
  width 89%
  margin-left 30px

.question-row
  margin 0px 0px 0px 0px

.comment-box
  background-color white
  border 1px solid #E3E3E3
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05) inset
  margin-left 30px
  padding 10px
