.search-bar-component.tb input.search-bar
  width 95.5%
  height 30px
  font-size 24px
  background-color white 

.search-bar-component .input-append .add-on
  height 30px
  line-height 30px

.btn-search
  width 5px
  height 30px

.icon-middle
  margin 6px 0px 0px -4px