.search-bar-component.tb
  input.search-bar
    width 93.5%
    background-color white


  .typeahead
    background-color rgba(255, 255, 255, 0.8)

    .active > a, .active > a:hover
      background-color rgb(255, 255, 255, 0.8)

  .input-append
    margin-bottom 0


