.search-bar-component.tb
  input.search-bar
    width 95.5%
    height 30px
    font-size 24px
    background-color white 

  .input-append .add-on
    height 30px
    line-height 30px

  .typeahead
    font-size 20px
    background-color rgba(255, 255, 255, 0.5)

    .active > a, .active > a:hover
      background-color rgb(255, 255, 255, 0.5)

  .btn-search
    width 5px
    height 30px

  .icon-middle
    margin 6px 0px 0px -4px
