.topic-side-menu-component

.black
  color black

.left-border
  border-right 1px solid #bbb
  border-left 1px solid #bbb 
  border-bottom 1px solid #bbb 

.topic-table
  background-color #F5F5F5
  border-color transparent #0B6CBC
  color #585858