.discussion-board-component.tb
  .no-question-selected(ng-show='!question')
    span
      h4 Questions
    table.table.table-hover
      tbody
        tr(ng-repeat='(id, q) in questions')
          td.table-column-width(ng-click='$parent.question = getQuestion(q.uri)') {{q.timestamp | date}}
          td(ng-click='$parent.question = getQuestion(q.uri)') {{(q.text.substr(0, 150) + (q.text.length > 150 ? "..." : ""))}} 
  .discussion(ng-show='question')
    a.btn.row-top-offset.row-buttom-offset(ng-click='question = null') Back to questions
    .row-fluid
      .span12
        | {{question.text}}
    .row-fluid(data-collapsing='parent')
      .row-fluid
        .comments-label(collapsable) Comments
      .row-fluid.collapse(data-collapsing='collapse')
        .row-fluid(ng-repeat='(id, comment) in question.comments')
          .row-fluid
            | {{comment.text}}
          .row-fluid
            span
              | {{comment.timestamp | date}}
            span.pull-right
              | {{comment.owner.name}}
        .row-fluid
          textarea.answer-comment-textbox-width(rows='1', placeholder="Comment",ng-click='addComment=true')
        .row-fluid(ng-show='addComment')
          .span6
            label.checkbox
              input(type='checkbox', value='')
              | Anonymous
          .span6
            a.btn.pull-right Post
            a.btn.pull-right(ng-click='addComment=false') Cancel
    .row-fluid(ng-repeat='(id, answer) in question.answers')
      .row-fluid
        .span12(ng-bind-html-unsafe='answer.text')
      .row-fluid
        span
          | {{answer.timestamp | date}}
        span.pull-right
          | {{answer.owner.name}}
      .row-fluid(data-collapsing='parent')
        .row-fluid
          .comments-label(collapsable) Comments
        .row-fluid.collapse(data-collapsing='collapse')
          .row-fluid(ng-repeat='(id, comment) in answer.comments')
            .row-fluid
              span
                | {{comment.text}}
            .row-fluid
              span
                | {{comment.timestamp | date}}
              span.pull-right
                | {{comment.owner.name}}
          .row-fluid
            textarea.answer-comment-textbox-width(rows='2', placeholder="Comment",ng-click='addComment=true')
          .row-fluid(ng-show='addComment')
            .span6
              label.checkbox
                input(type='checkbox', value='')
                | Anonymous
            .span6
              a.btn.pull-right Post
              a.btn.pull-right(ng-click='addComment=false') Cancel