.discussion-board-component
  .no-question-selected(ng-show='!question')
    ul
      li(ng-repeat='(id, q) in questions')
        a(ng-click='$parent.question = getQuestion(q.uri)') {{q.text}}
  .discussion(ng-show='question')
    a.btn(ng-click='question = null') All questions
    .row-fluid
      .span12
        .question
          {{question.text}}
    .row-fluid
      .span6.pull-right
        {{question.owner.name}}
    .row-fluid
      .span10.pull-right
        .row-fluid(ng-repeat='(id, comment) in question.comments')
          .span12
            {{comment.text}}
    .row-fluid
      .span11.pull-right
        .row-fluid(ng-repeat='(id, answer) in question.answers')
          .row-fluid
            .span12(ng-bind-html-unsafe='answer.text')
          .row-fluid
            .span11.pull-right
              .row-fluid(ng-repeat='(id, comment) in answer.comments')
                .span12
                  {{comment.text}}
