.discussion-board-component.tb
  .no-question-selected(ng-show='!question')
    span
      h4 Questions
    table.table.table-hover
      tbody
        tr(ng-repeat='(id, q) in questions')
          td.table-column-width(ng-click='$parent.question = getQuestion(q.uri)') {{q.timestamp | date}}
          td(ng-click='$parent.question = getQuestion(q.uri)') {{(q.text.substr(0, 150) + (q.text.length > 150 ? "..." : ""))}} 
  .discussion(ng-show='question')
    a.btn.row-top-offset.row-buttom-offset(ng-click='question = null') Back to questions
    .row-fluid
      accordion(close-others=true)
        accordion-group(heading='QUESTION: {{question.text}}')
          span 
            | {{question.text}}
          span.pull-right
            | {{question.owner.name}}
          .row-fluid
            accordion(close-others=true)
              accordion-group(ng-repeat='(id, comment) in question.comments', heading='COMMENT: {{comment.text}}')
                span
                  | {{comment.text}}
                span.pull-right
                  | {{question.owner.name}}
              .row-fluid
                textarea.answer-comment-textbox-width(rows='2', placeholder="Comment",ng-click='addComment=true')
              .row-fluid(ng-show='addComment')
                .span6
                  label.checkbox
                    input(type='checkbox', value='')
                    | Anonymous
                .span6
                  a.btn.pull-right Post
                  a.btn.pull-right(ng-click='addComment=false') Cancel
        accordion-group(ng-repeat='(id, answer) in question.answers', heading='ANSWER:  {{(answer.text.substr(0, 300) + (answer.text.length > 300 ? "..." : ""))}} <<RANK>>')
          .row-fluid
            .span12(ng-bind-html-unsafe='answer.text')
            span.pull-right
              | {{question.owner.name}}
          .row-fluid
            accordion(close-others=true)
              accordion-group(ng-repeat='(id, comment) in answer.comments', heading='COMMENT: {{comment.text}}')
                span
                  | {{comment.text}}
                span.pull-right
                  | {{question.owner.name}}
              .row-fluid
                textarea.answer-comment-textbox-width(rows='2', placeholder="Comment",ng-click='addComment=true')
              .row-fluid(ng-show='addComment')
                .span6
                  label.checkbox
                    input(type='checkbox', value='')
                    | Anonymous
                .span6
                  a.btn.pull-right Post
                  a.btn.pull-right(ng-click='addComment=false') Cancel
        .row-fluid
          textarea.comment-textbox-width(rows='3', placeholder="Comment", ng-click='addComment=true')
        .row-fluid(ng-show='addComment')
          .span6
            label.checkbox
              input(type='checkbox', value='')
              | Anonymous
          .span6
            a.btn.pull-right Post
            a.btn.pull-right(ng-click='addComment=false') Cancel



