.search-bar-component.tb
  .row-fluid
    .span12
      .input-append
        input.search-bar(type='text', ng-model='query', focus-in, ng-keypress='scroll($event)')
        .btn.btn-info.btn-search
          i.icon-middle.icon-search.icon-white
  .row-fluid(ng-hide='true')
    .span12
      ul
        li(ng-repeat='file in files | limitTo:5', ng-class='file.active', ng-mouseover='activate($index)')
          a(href='{{file.uri}}', ng-click='open($index)')
            {{file.name}}