.search-bar-component.tb
  .row-fluid
    .span12
      .input-append
        input.search-bar(type='text', ng-model='query', focus-in, bs-typeahead='matchQuery')
        .add-on
          i.icon-search