.search-bar-component.tb
  .row-fluid
    .span12
      .input-append
        input.search-bar(type='text', ng-model='query', focus-in, bs-typeahead='matchQuery')
        .btn.btn-info.btn-search
          i.icon-middle.icon-search.icon-white
