.courses.tb
  .row
    .navbar.navbar-fixed-top
      .navbar-inner
        ul.nav
          li
            a {{username}}
        ul.nav.pull-right
          li
            a Log Out
        ul.nav.pull-right
          li
            a Settings
        ul.nav.pull-right
          li
            a Help
  .row-fluid
    .span3
      tabs
        tab(data-tab-id='twitter', caption='Feed')
          ul
            li(ng-repeat='course in courses | orderBy:"name"')
              a(href='{{course.url}}') {{course.name}}

        tab(data-tab-id='gitHub', caption='Topic')
          ul
            li(ng-repeat='course in courses | orderBy:"name"')
              a(href='{{course.url}}') {{course.name}}
    .span9.search-bar-container
      .row-fluid
        .span6
          .input-append
            input.search-bar(type='text', ng-model='query', focus-in, ng-keypress='scroll($event)')
            .add-on
              i.icon-search
      .row-fluid
        .span12
          ul
            a.thumbnail.item(ng-repeat='file in files', href='{{file.uri}}', ng-class='file.active', ng-mouseover='activate($index)', ng-click='open($index)')
              .item-content
                {{file.name}}
          // object(src='/img/ch5.pdf', type='application/pdf', width='100%', height='500')
