.courses.tb
  .row
    .navbar.navbar-fixed-top
      .navbar-inner
        ul.nav
          li
            a(href='#/home') SPACE
        ul.nav
          li
            a {{user.username}}
        ul.nav.pull-right
          li
            a(href='#/login') Log Out
        ul.nav.pull-right
          li
            a(href='#/settings') Settings
        ul.nav.pull-right
          li
            a Help
  .row-fluid
    .span3
      h3 {{topic.name}}
      tabs
        tab(data-tab-id='feed', caption='Feed')
          ul
            li(ng-repeat='course in user.courses | orderBy:"name"')
              a(ng-click='setTopic(course)') {{course.name}}

        tab(data-tab-id='topic', caption='Topics')
          ul
            li(ng-repeat='course in user.courses | orderBy:"name"')
              a(href='{{course.url}}') {{course.name}}
    .span9.search-bar-container
      .row-fluid
        .span11
          .input-append
            input.search-bar(type='text', ng-model='query', focus-in, ng-keypress='scroll($event)')
            .add-on
              i.icon-search
      .row-fluid
        .span12
          ul
            li(ng-repeat='file in files', ng-class='file.active', ng-mouseover='activate($index)')
              a(href='{{file.uri}}', ng-click='open($index)')
                {{file.name}}
          // object(src='/img/ch5.pdf', type='application/pdf', width='100%', height='500')
      .row-fluid
        .span12
          tabs
            .row-fluid(ng-show='canWrite')
              .span2
                a.btn.row-buttom-offset(ng-show='!addFile', ng-click='addFile=true')
                  i.icon-plus
                  | Upload
                a.btn(ng-show='addFile',ng-click='addFile=false')
                  i.icon-minus
                  | Cancel
              .span10
                span.pretty-file
                  input(ng-show='addFile', type='file', name='form[files][]', multiple='multiple')
                  .input-append
                    input.input-large(ng-show='addFile', ng-model='fileInfo', type='text')
                    a.btn(ng-click='triggerFileBrowse()', ng-show='addFile') Browse
                    a.btn(ng-show='addFile') Upload
            .row-fluid
              tab(data-tab-id='notes', caption='Notes')
                  table.table.table-hover
                    tbody
                      tr(ng-repeat='file in filesToUpload')
                        td
                          input(type='text', ng-model='file.displayName', placeholder='{{file.nameWithoutExt}}')
                        td
                          span {{file.name}}
                      tr(ng-repeat='file in topic.files | orderBy:"date"')
                        td 
                          span(ng-show='!canWrite') {{$index + 1}}
                          span(ng-show='canWrite && !editFile') {{file.date}}
                          span(ng-show='editFile')
                            input.input-small(type='text', placeholder='{{file.date}}')
                        td
                          a(ng-show='!editFile && !removeFile', href='{{file.url}}') {{file.name}}
                          settings(ng-show='removeFile')
                            span.text-error {{file.name}}
                          span(ng-show='editFile')
                            input.input-small(type='text', placeholder='{{file.name}}')
                          span.pull-right
                            .btn-toolbar(ng-show='removeFile')
                              .btn-group
                                  a.btn(ng-click='removeFile = false') 
                                    i.icon-ok
                                  a.btn(ng-click='removeFile = false') 
                                    i.icon-remove
                            .btn-toolbar(ng-show='editFile')
                              .btn-group
                                  a.btn(ng-click='editFile = false') 
                                    i.icon-ok
                                  a.btn(ng-click='editFile = false') 
                                    i.icon-remove
                        td 
                          span.btn-toolbar.pull-right
                              .btn-group(ng-show='canWrite')
                                a.btn(ng-click='removeFile = true')
                                  i.icon-remove
                                a.btn(ng-click='editFile = true')
                                  i.icon-pencil
              tab(data-tab-id='tutorials', caption='Tutorials')
                  table.table.table-hover
                    tbody
                      tr(ng-repeat='tutorial in topic.tutorials | orderBy:"name"')
                        td 
                          | {{$index + 1}}
                        td
                          a(href='{{tutorial.url}}') {{tutorial.name}}
                        td 
                          i.icon-remove(ng-show='!removeFile', ng-click='removeFile = true')
                          .span3
                            a(ng-show='removeFile') Delete?
                        td
                          .span3
                              a(ng-show='removeFile') Yes
                        td
                          .span3
                              a(ng-show='removeFile', ng-click='removeFile = false') No
              tab(data-tab-id='solutions', caption='Solutions')
                  table.table.table-hover
                    tbody
                      tr(ng-repeat='solution in topic.solutions | orderBy:"name"')
                        td 
                          | {{$index + 1}}
                        td
                          a(href='{{solution.url}}') {{solution.name}}
                        td 
                          i.icon-remove(ng-show='!removeFile', ng-click='removeFile = true')
                          .span3
                            a(ng-show='removeFile') Delete?
                        td
                          .span3
                              a(ng-show='removeFile') Yes
                        td
                          .span3
                              a(ng-show='removeFile', ng-click='removeFile = false') No

