.courses.tb
  .row
    .navbar.navbar-fixed-top
      .navbar-inner
        ul.nav
          li
            a(href='#/home') SPACE
        ul.nav
          li
            a {{user.username}}
        ul.nav.pull-right
          li
            a(href='#/login') Log Out
        ul.nav.pull-right
          li
            a(href='#/settings') Settings
        ul.nav.pull-right
          li
            a Help
  .row-fluid
    .span3
      tabs
        tab(data-tab-id='feed', caption='Feed')
          ul
            li(ng-repeat='course in user.courses | orderBy:"name"')
              a(ng-click='setTopic(course)') {{course.name}}

        tab(data-tab-id='topic', caption='Topics')
          ul
            li(ng-repeat='course in user.courses | orderBy:"name"')
              a(href='{{course.url}}') {{course.name}}
    .span6.search-bar-container
      .row-fluid
        .span11
          .input-append
            input.search-bar(type='text', ng-model='query', focus-in, ng-keypress='scroll($event)')
            .add-on
              i.icon-search
      .row-fluid
        .span12
          ul
            li(ng-repeat='file in files', ng-class='file.active', ng-mouseover='activate($index)')
              a(href='{{file.uri}}', ng-click='open($index)')
                {{file.name}}
          // object(src='/img/ch5.pdf', type='application/pdf', width='100%', height='500')
      .row-fluid
        .span12
          | {{topic.name}}
          .row-top-offset
          tabs
              .row-fluid
                .span4
                    i.icon-plus(ng-show='!addFile',ng-click='addFile=true')
                    i.icon-minus(ng-show='addFile',ng-click='addFile=false')
                    | Add a file 
                .span8
                  span.pretty-file
                    input(ng-show='addFile', type='file', name='form[files][]', multiple='multiple')
                    .input-append
                      input.input-large(ng-show='addFile', type='text')
                      a.btn(ng-show='addFile') Browse
                      a.btn(ng-show='addFile') Upload
            tab(data-tab-id='notes', caption='Notes')
                table.table.table-hover
                  tbody
                    tr(ng-repeat='file in topic.files | orderBy:"name"')
                      td 
                        | {{$index + 1}}
                      td
                        a(href='{{file.url}}') {{file.name}}
                      td 
                        i.icon-remove(ng-show='!removeFile', ng-click='removeFile = true')
                        .span3
                          a(ng-show='removeFile') Delete?
                      td
                        .span3
                            a(ng-show='removeFile') Yes
                      td
                        .span3
                            a(ng-show='removeFile', ng-click='removeFile = false') No

            tab(data-tab-id='tutorials', caption='Tutorials')
                table.table.table-hover
                  tbody
                    tr(ng-repeat='tutorial in topic.tutorials | orderBy:"name"')
                      td 
                        | {{$index + 1}}
                      td
                        a(href='{{tutorial.url}}') {{tutorial.name}}
                      td 
                        i.icon-remove(ng-show='!removeFile', ng-click='removeFile = true')
                        .span3
                          a(ng-show='removeFile') Delete?
                      td
                        .span3
                            a(ng-show='removeFile') Yes
                      td
                        .span3
                            a(ng-show='removeFile', ng-click='removeFile = false') No
            tab(data-tab-id='solutions', caption='Solutions')
                table.table.table-hover
                  tbody
                    tr(ng-repeat='solution in topic.solutions | orderBy:"name"')
                      td 
                        | {{$index + 1}}
                      td
                        a(href='{{solution.url}}') {{solution.name}}
                      td 
                        i.icon-remove(ng-show='!removeFile', ng-click='removeFile = true')
                        .span3
                          a(ng-show='removeFile') Delete?
                      td
                        .span3
                            a(ng-show='removeFile') Yes
                      td
                        .span3
                            a(ng-show='removeFile', ng-click='removeFile = false') No

