.file-component.tb
  h3.topic-title {{topic.name}}
  .row-fluid
    tabs
      tab(ng-repeat='type in topic.types', data-tab-id='{{$index}}', caption='{{type}}')
        .row-fluid(ng-show='canWrite')
          .row-fluid
            form(data-type='{{type}}', enctype='multipart/form-data')
              .span12.pretty-file
                input(type='file', name='form[files][]', data-type='{{type}}', multiple='multiple')
                a.btn.btn-warning(ng-click='triggerFileBrowse(type)') Browse for files
                a.btn.btn-danger.left-offset(ng-show='filesToUpload.length > 0', ng-click='filesToUpload = []')
                  i.icon-remove.icon-white
                a.btn.btn-info.pull-right(ng-show='filesToUpload.length > 0', ng-click='uploadFiles(type)') Upload all
          .row-fluid.row-top-offset
            table.table.table-hover
              tbody
                tr(ng-show='!uploadFile', ng-repeat='file in filesToUpload')
                  td
                    .control-group.input-append
                      input(type='text', ng-model='file.date', data-date-format='dd/mm/yyyy', bs-datepicker)
                      button.btn.btn-success(type='button', data-toggle='datepicker')
                        i.icon-calendar.icon-white
                  td
                    .input-prepend
                      span.add-on Display name
                      input(type='text', ng-model='file.displayName')
                  td {{file.name}}
        .row-fluid
          .row-fluid.bottom-offset(ng-show='canWrite')
            a.btn.btn-danger.pull-right(ng-click='confirm(["Do you really want to delete type ", type, " and all ", numOfType(topic.files, type), " associated files?"])')
              i.icon-trash.icon-white.white
              | Delete Type
        .row-fluid
          table.table.table-hover
            tbody
              tr(ng-repeat='(fileId, file) in filter(topic.files, type) | orderBy:"date"')
                td
                  span(ng-show='!canWrite') {{$index + 1}}
                  span(ng-show='canWrite && !editFile && !removeFile') {{file.date | date}}
                  span(ng-show='editFile')
                    .control-group.input-append
                      input(type='text', ng-model='file.date', data-date-format='dd/mm/yyyy', bs-datepicker)
                      button.btn(type='button', data-toggle='datepicker')
                        i.icon-calendar
                  settings(ng-show='removeFile')
                    span.text-error {{file.date | date}}
                td
                  a(ng-show='!editFile && !removeFile', href='topics/{{topic.id}}/{{file.url}}') {{file.name}}
                  settings(ng-show='removeFile')
                    span.text-error {{file.name}}
                  span(ng-show='editFile')
                    input.input-small(type='text', ng-model='file.name')
                td
                  span.btn-toolbar.pull-right
                    .btn-group(ng-show='canWrite && !editFile')
                      a.btn.btn-warning(ng-click='editFile = true')
                        i.icon-pencil.icon-white
                      a.btn.btn-danger(ng-click='confirm(["Do you really want to delete file ", file.name, " ?"])')
                        i.icon-trash.icon-white
                  span.pull-right
                    .btn-toolbar(ng-show='editFile')
                      .btn-group
                        a.btn.btn-warning(ng-click='editFile = false')
                          i.icon-ok.icon-white
                        a.btn.btn-danger(ng-click='editFile = false')
                          i.icon-remove.icon-white
      tab(data-tab-id='timetable', caption='Timetable')
        table.table.table-hover
          tbody
            tr(ng-repeat='date in topic.allFiles | orderBy:"date":reverse')
              td.span3
                {{date.date | date}}
              td
                div(ng-repeat='file in date.files')
                  span {{file.name}}
