.login-box.tb
  .row
    .span6
      h1 Space
    .span6.login-form-container
      form.login-form.form-horizontal(ng-submit='login()')
        .row
          .row.login-inputs
            .control-group
              label.control-label Username
              .controls
                input.login-value-username(type='text', name='username', ng-model='values.username', focus-in)
            .control-group
              label.control-label Password
              .controls
                input.login-value-password(type='password', name='password', ng-model='values.password')
        .row.text-center
          p
            input.btn.btn-large.btn-primary.login-buttonLogin(type='submit', value='Log in')