.news-component.tb
  .row-fluid
    .text-center
      h3.grey What's new in your SPACE?
  .row-fluid
    table.table.table-hover
      tbody
        tr(ng-repeat='event in user.events | fromUrl')
          td    
            .span12      
              .row-fluid(ng-show='event.type == "question"')
              strong.red New question 
              strong in {{event.topic}} - {{event.file}} 
                em by {{event.owner.name}}
              a.black(href='#/preview/{{event.url}}') {{(event.text.substr(0, 280) + (event.text.length > 280 ? "..." : ""))}}                    
              span.pull-right
                em {{event.timestamp | date}} 

            .row-fluid(ng-show='event.type == "commentQ"')            
              strong.blue New comment 
              strong in {{event.topic}} - {{event.file}} 
                em by {{event.owner.name}}
              a.black(href='#/preview/{{event.url}}') {{(event.text.substr(0, 280) + (event.text.length > 280 ? "..." : ""))}}                    
              span.pull-right
                em {{event.timestamp | date}} 

            .row-fluid(ng-show='event.type == "commentA"')            
              strong.blue New comment             
              strong in {{event.topic}} - {{event.file}} 
                em by {{event.owner.name}}
              a.black(href='#/preview/{{event.url}}') {{(event.text.substr(0, 280) + (event.text.length > 280 ? "..." : ""))}}                    
              span.pull-right
                em {{event.timestamp | date}} 

            .row-fluid(ng-show='event.type == "answer"')
              strong.green New answer 
              strong in {{event.topic}} - {{event.file}} 
                em by {{event.owner.name}}
              a.black(href='#/preview/{{event.url}}') {{(event.text.substr(0, 280) + (event.text.length > 280 ? "..." : ""))}}                    
              span.pull-right
                em {{event.timestamp | date}} 

            .row-fluid(ng-show='event.type == "topic"')
              strong.purple New topic
              strong in {{event.topic}} - {{event.file}} 
                em by {{event.owner.name}}
              a.black(href='#/preview/{{event.url}}') {{(event.text.substr(0, 280) + (event.text.length > 280 ? "..." : ""))}}                    
              span.pull-right
                em {{event.timestamp | date}} 

            .row-fluid(ng-show='event.type == "file"')
              strong.purple New file 
              strong in {{event.topic}} - {{event.file}} 
                em by {{event.owner.name}}
              a.black(href='#/preview/{{event.url}}') {{(event.text.substr(0, 280) + (event.text.length > 280 ? "..." : ""))}}                    
              span.pull-right
                em {{event.timestamp | date}} 
