.settings-components.tb
  .span2
  .span8
    .row-fluid
    .box-margin
      .well
        .row-fluid
          h3 Account Details
          .row-fluid
            table.table.table-hover
              tbody
                tr
                  td
                    span Name
                  td
                    span(ng-show='!editName') {{user.name}}
                    form.form-no-margin(ng-show='editName', ng-submit='editName = false; updateUser()')
                      input.input-small(type='text', ng-model='user.name')
                      .btn-group
                        a.btn.btn-success(ng-click='editName = false; updateUser()')
                         i.icon-ok.icon-white
                        a.btn.btn-danger(ng-click='editName = false')
                         i.icon-remove.icon-white
                  td
                    span.btn-toolbar.pull-right
                      .btn-group
                        a.btn.btn-warning(ng-show='!editName', ng-click='editName = true')
                          i.icon-pencil.icon-white
                tr
                  td
                    span Username
                  td
                    span {{user.username}}
                  td
                tr
                  td
                    span Email
                  td
                    span(ng-show='!editEmail') {{user.email}}
                    form.form-no-margin(ng-show='editEmail', ng-submit='editEmail = false; updateUser()')
                      input.input-small(type='text', ng-model='user.email')
                      .btn-group
                        a.btn.btn-success(ng-click='editEmail = false; updateUser()')
                         i.icon-ok.icon-white
                        a.btn.btn-danger(ng-click='editEmail = false')
                         i.icon-remove.icon-white
                  td
                    span.btn-toolbar.pull-right
                      .btn-group
                        a.btn.btn-warning(ng-show='!editEmail', ng-click='editEmail = true')
                          i.icon-pencil.icon-white
                tr
                  td
                    span Facebook
                  td
                    span(ng-show='!editFacebook') {{user.facebook}}
                    form.form-no-margin(ng-show='editFacebook', ng-submit='editFacebook = false; updateUser()')
                      input.input-small(type='text', ng-model='user.facebook')
                      .btn-group
                        a.btn.btn-success(ng-click='editFacebook = false; updateUser()')
                         i.icon-ok.icon-white
                        a.btn.btn-danger(ng-click='editFacebook = false')
                         i.icon-remove.icon-white
                  td
                    span.btn-toolbar.pull-right
                      .btn-group
                        a.btn.btn-warning(ng-show='!editFacebook', ng-click='editFacebook = true')
                          i.icon-pencil.icon-white
                tr
                  td
                    span Password
                  td
                    span(ng-show='!editPassword') ******
                  td
                    span.btn-toolbar.pull-right
                      .btn-group
                        a.btn.btn-warning(ng-show='!editPassword', ng-click='editPassword = true')
                          i.icon-pencil.icon-white
                    form.form-no-margin.form-inline(ng-show='editPassword', ng-submit='editPassword = false; updateUserPassword()')
                      .control-group
                        input.input-small(type='text', ng-model='oldPassword', placeholder='Old Password')
                      .control-group
                        input.input-small(type='text', ng-model='newPassword',  placeholder='New Password')
                      .control-group
                        input.input-small(type='text', ng-model='newPassword2',  placeholder='Confirm Password')
                      .control-group
                        .btn-group
                          a.btn.btn-success(ng-click='editPassword = false; updateUserPassword()')
                           i.icon-ok.icon-white
                          a.btn.btn-danger(ng-click='editPassword = false')
                           i.icon-remove.icon-white
     .box-margin
      .well
        .row-fluid
            h3 Notifications
            strong
              | How would you like to get notifications?
            .row-fluid
              table.table.table-hover
                tbody
                  tr
                    td
                      span Facebook
                    td
                      .pull-right
                        a.btn.btn-danger(ng-show='!OnFacebook', ng-click='OnFacebook = true')
                          i.icon-remove.icon-white
                        a.btn.btn-success(ng-show='OnFacebook', ng-click='OnFacebook = false')
                          i.icon-ok.icon-white
                  tr
                    td
                      span Email
                    td
                      .pull-right
                        a.btn.btn-danger(ng-show='!OnEmail', ng-click='OnEmail = true')
                          i.icon-remove.icon-white
                        a.btn.btn-success(ng-show='OnEmail', ng-click='OnEmail = false')
                          i.icon-ok.icon-white
  .span2