.tabbed-side-menu-component.tb
  tabs
    tab(data-tab-id='questions', caption='Questions')
      table.table.table-hover
        tr(ng-repeat='question in questions | filter:questionInTopic')
          td
            .row-fluid
              strong.red {{question.topic.name}}: {{question.file.name}}
            .row-fluid
              strong
                em {{question.modifiedTime | date:"HH:mm, MMM d, yyyy"}} by {{question.owner.name}}
            .text-preview(href='#/preview/{{question.url}}') {{trim(question.text, 75)}}
    tab(data-tab-id='topics', caption='Topics')
      .list-menu
        .row-plain.row-hover(ng-repeat='(id, topic) in user.topics | orderBy:"name"')
          a(href='#/topics/{{topic._id}}') {{topic.name}}
