.topic-side-menue-component.tb
  tabs
    tab(data-tab-id='topics', caption='Feed WIP')
      table.table.table-hover
        tr(ng-repeat='(topic, id) in user.topics | orderBy:"name"')
          td
            strong
              a.black(href='{{topic.url}}') Topic name {{topic.name}}
              
    tab(data-tab-id='feed', caption='Topics')
      table.table.table-hover
        tr(ng-repeat='(id, topic) in user.topics | orderBy:"name"')
          td
            strong
              a.black(href='#/topics/{{id}}') {{topic.name}}
