.tabbed-side-menu-component.tb
  h3 {{topic.name}}
  tabs
    tab(data-tab-id='feed', caption='Topics')
      ul
        li(ng-repeat='course in user.courses | orderBy:"name"')
          a(href='#/topics/{{course.id}}') {{course.name}}

    tab(data-tab-id='topics', caption='Feed WIP')
      ul
        li(ng-repeat='course in user.courses | orderBy:"name"')
          a(href='{{course.url}}') asd {{course.name}}