.topic-side-menue-component.tb
  .span12
    tabs
      tab(data-tab-id='questions', caption='Questions')
        table.table.table-hover
          tr(ng-repeat='question in user.events | fromUrl | filter:questionInTopic ')
            td
              .row-fluid
                strong.red {{question.topic}}: {{question.file}}
              .row-fluid
                strong
                  em {{question.timestamp | date}} by {{question.owner.name}}:
              a.grey(href='#/preview/{{question.url}}') {{(question.text.substr(0, 75) + (question.text.length > 75 ? "..." : ""))}}
      tab(data-tab-id='feed', caption='Topics')
        table.table.table-hover
          tr(ng-repeat='(id, topic) in user.topics | orderBy:"name"')
            td
              a.black(href='#/topics/{{id}}') {{topic.name}}
