.user-component
  .row-fluid.tb
    .navbar.navbar-fixed-top
      .navbar-inner
        ul.nav
          li
            a(href='#/home') SPACE
        ul.nav
          li
            a {{user.username}}
        ul.nav.pull-right
          li
            a(href='#/login') Log Out
        ul.nav.pull-right
          li
            a(href='#/settings') Settings
        ul.nav.pull-right
          li
            a Help
  .row-fluid
    .span12
      ui-view
