doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Client | Space
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='/stylesheets/styles.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/require.js', data-main='/javascripts/main.js')




    script(type='text/javascript', src='/javascripts/vendor/compatibility.js')

    link(rel='resource', type='application/l10n', href='/locale/locale.properties')
    script(type='text/javascript', src='/javascripts/vendor/l10n.js')
    script(type='text/javascript', src='/javascripts/vendor/pdf.js')

    script(type='text/javascript', src='/javascripts/vendor/debugger.js')

  body(ng-cloak='ng-cloak')
    .container-fluid
      ui-view