html
  height 100%

body
  height 100%
  margin 0
  padding 40px 0 0 0 

.container-fluid

.title-container, .search-bar-container, .sort-selector-container
  padding 20px

.text-center
  text-align center

.row-spaced
  height 40px

.row-top-offset
  margin-top 20px

form.form-no-margin
  margin 0