html
  height 100%

body
  height 100%
  margin 0
  padding 40px 0 0 0 

.container-fluid

.title-container, .search-bar-container, .sort-selector-container
  padding 20px

.text-center
  text-align center

.row-spaced
  height 40px

.row-top-offset
  margin-top 20px

form.form-no-margin
  margin 0


/* For the "Add File" button */
.pretty-file > input { display: none !important; }
/*  The rest is from Twitter Bootstrap */
//input,
.input-append { display: inline-block; vertica-align: middle; }
 
