html
  height 100%

body
  margin 0
  padding 40px 0 0 0

.sub-navbar-view
  padding 20px 0px

.sort-selector-container
  padding 20px

.text-center
  text-align center

.row-spaced
  height 40px

.row-top-offset
  margin-top 20px

.row-buttom-offset
  margin-bottom 5px

.row-top-offset
  margin-top 5px

.small-input
  width 1px

.table-column-width
  width 90px

.btn-size
  width 1000px

textarea.comment-textbox-width
  width 485px

textarea.answer-comment-textbox-width
  width 454px

form.form-no-margin
  margin 0


/* For the "Add File" button */
.pretty-file > input { display: none !important; }
/*  The rest is from Twitter Bootstrap */
//input,
.input-append { display: inline-block; vertica-align: middle; }
 
