/*!
 * Bootstrap v2.3.0
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */


// Core variables and mixins
@import "themes/light"; // Modify this for custom colors, font-sizes, etc

// CSS Reset
@import "vendor/reset"

// Core variables and mixins
@import "vendor/mixins"

// Grid system and page structure
@import "vendor/scaffolding"
@import "vendor/grid"
@import "vendor/layouts"

// Base CSS
@import "vendor/type"
@import "vendor/code"
@import "vendor/forms"
@import "vendor/tables"

// Components: common
@import "vendor/sprites"
@import "vendor/dropdowns"
@import "vendor/wells"
@import "vendor/component-animations"
@import "vendor/close"

// Components: Buttons & Alerts
@import "vendor/buttons"
@import "vendor/button-groups"
@import "vendor/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "vendor/navs"
@import "vendor/navbar"
@import "vendor/breadcrumbs"
@import "vendor/pagination"
@import "vendor/pager"

// Components: Popovers
@import "vendor/modals"
@import "vendor/tooltip"
@import "vendor/popovers"

// Components: Misc
@import "vendor/thumbnails"
@import "vendor/media";
@import "vendor/labels-badges"
@import "vendor/progress-bars"
@import "vendor/accordion"
@import "vendor/carousel"
@import "vendor/hero-unit"

// Utility classes
@import "vendor/utilities" // Has to be last to override when necessary

// For phone and tablet devices
// -------------------------------------------------------------

@import "vendor/bootstrap-datetimepicker.min.css"

@import "vendor/responsive"

// Our Styles
// ----------

// Base
@import "layout"

// Our components
@import "components/user"
@import "components/item"
@import "components/file"
@import "components/search-bar"
@import "components/topic-side-menu"
@import "components/login"
@import "components/news"
@import "components/settings"
@import "components/viewer"
@import "components/small-viewer"
@import "components/highlighter"
@import "components/box-select"
@import "components/question-form"
@import "components/discussion-board"
