// light theme
// bg = #fff
// item = #ddd

// border = gray
// font = #333

// dark theme
// bg = #111
// item = #ddd

// border = #333
// font = #eee

// body
//   background-color bg
//   color font

@import "components/item"

.custom-enter-setup,
.custom-leave-setup,
.custom-move-setup
  transition 1s linear all
  position relative

.custom-enter-setup
  opacity 0
.custom-enter-setup.custom-enter-start
  opacity 1

.custom-leave-setup
  opacity 1
.custom-leave-setup.custom-leave-start
  opacity 0

.custom-move-setup
  opacity 1
.custom-move-setup.custom-move-start
  opacity 1
